@font-face {
  font-family: "bebasneue";
  src: url("../fonts/bebas_neue.eot") format('embedded-opentype'),
    url('../fonts/bebas_neue.woff2') format('woff2'),
    url('../fonts/bebas_neue.woff') format('woff'),
    url('../fonts/bebas_neue.ttf') format('truetype');
}

@font-face {
  font-family: "calibre";
  src: url('../fonts/Calibre-Semibold.woff2') format('woff2'),
    url('../fonts/Calibre-Semibold.woff') format('woff'),
    url('../fonts/Calibre-Semibold.ttf') format('truetype');
}

* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.highlight {
  color: #06a7d4;
}

/* Links */
a:link {
  color: #95a2c2;
  text-decoration: none;
}

a:visited {
  color: #95a2c2;
  text-decoration: none;
}

.row {
  display: flex;
}

.column {
  flex: 10%;
}

.container {
  height: 200px;
  position: relative;
  /* border: 3px solid green; */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #263c75;
  /* border: 3px solid #000000; */
}

.circular--landscape img {
  width: 100%;
  height: auto;
  margin-top: -50px;
}

.nav{
  /* border:1px solid #ccc; */
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display: inline;
}
.nav a{
  display: inline-block;
  padding: 10px;
}

.tag-container {
  display: grid;
  /* min em needs to be same as tag width em to fill up availabile space */
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0em;
  grid-column-gap: 0em;
}

.tag-header {
  grid-column: 1 / span all;
  grid-row: auto;
  /* border: 1px dotted white; */
  text-align: center;
}

.tag {
  text-align: center;
  width: 5em;
  border: 1px dotted green;
  /* TODO: fix text so it's not cut off, scrolling? */
  overflow: hidden;
}

.parent {
  display: grid;
  grid-template-areas:
    "head head"
    "left right"
    "left right";
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.parent .header { 
  grid-area: head;
}
.parent .left { 
  grid-area: left;
}
.parent .right {
  grid-area: right;
}
