body{
	/*background-image: url(../img/mountains.jpg);*/
	background-color: blue;
	background-size: 100%;
}

.jumbotron {
	color: #FFFFFF;
	border: solid;
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
	border: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.panel-default {
	background-color: rgba(0, 0, 0, 0.5);
}

.panel-heading {
	font-size: 18px;
	font-weight: bold;
}

.panel-body {
	color: #FFFFFF;
}