<div>
  <div class="row">
    <div class="column" style="text-align: right">
      <div class="circular--landscape">
        <img src="images/profile.png">
      </div>
    </div>
    <div class="column"  style="text-align: left">
      <div class="container">
        <div class="vertical-center" style="padding-left: 20px">
        <h2 style="font-size:50px;font-family:calibre; color:white; font-weight:800">Brian Yeung</h2>
        <!-- <h4>Fast learner => Strong hacker</h4> -->
        <p class = "highlight" style="width: 50%">
          Computer Science <a href="https://northeastern.edu">@Northeastern University</a> Spring '20 currently on my 3rd co-op as a Fullstack Software Engineer Co-op <a href="https://wellframe.com">@Wellframe</a>
        </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Use flex or something to have equally spaced items -->
  <!-- Actually same spacing between links but centered on total length -->
  <!-- spa -->
  <!-- indicator for current page -->
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/">About</a></li>
    {% comment %}
    <li><a href="/">Blog</a></li>
    <li><a href="/">Notes</a></li>
    {% endcomment %}
    <li><a href="/">Resume</a></li>
  </ul>
</div>