<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div id="headshot-container">
          <img class="rounded-circle" src="assets/images/profile_cropped.png" style="max-width:250px;max-height:250px;">
        </div>
      </div>

      <div class="col-sm">
        <div class="d-flex justify-content-center">
          <div id="profile-container" style="min-width: 400px; max-width:400px; margin-top: 30px;">
            <h1 style="font-size:40px; font-family:calibre; color:white;">
              Brian Yeung
            </h1>
            <!-- <h3>楊承恩</h3> -->
            <p style="margin-bottom: 30px;">
              <i class="fa fa-map-marker fa-fw"></i> Boston, MA
              <br/>
              <i class="fa fa-briefcase fa-fw"></i> Software Engineer <a href="https://wellframe.com">@Wellframe</a>
            </p>
            <p>
              Within this site you will find records of my exploits on the latest obsession at the time
            </p>

            <div id="social-links">
              <a href="https://github.com/yeungbri">
                <i class="fab fa-github fa-lg"></i>
              </a>
              
              <a href="https://www.linkedin.com/in/brian-yeung/">
                <i class="fa fa-linkedin-square fa-lg"></i>
              </a>

              <a href="">
                <i class="fab fa-youtube fa-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>